0  ICON  "..\\res\\trolledit.ico"

1 VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "www.trolledit.org"
            VALUE "CompanyName", "trolledit.org"
            VALUE "FileDescription", "TrollEdit - Graphically Enhanced Text Editor."
            VALUE "FileVersion", "0.1.0"
            VALUE "LegalCopyright", "Copyright © TrollEdit."
            VALUE "OriginalFilename", "trolledit.exe"
            VALUE "ProductName", "TrollEdit - Graphically Enhanced Text Editor."
            VALUE "ProductVersion", "0.1.0"
            VALUE "PrivateBuild", "Official Build"
        END
    END
END
