#include "../src/trolledit.h"
0  ICON  "..\\res\\trolledit_app.ico"

1 VERSIONINFO
 FILEVERSION TROLLEDIT_VERSION_MAJOR,TROLLEDIT_VERSION_MINOR,TROLLEDIT_VERSION_PATCH,TROLLEDIT_VERSION_BUILD
 PRODUCTVERSION TROLLEDIT_VERSION_MAJOR,TROLLEDIT_VERSION_MINOR,TROLLEDIT_VERSION_PATCH,TROLLEDIT_VERSION_BUILD
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "Comments",         TROLLEDIT_DOMAIN
      VALUE "CompanyName",      TROLLEDIT_VENDOR
      VALUE "FileDescription",  TROLLEDIT_VENDOR
      VALUE "FileVersion",      TROLLEDIT_VERSION
      VALUE "LegalCopyright",   "Copyright (c) " TROLLEDIT_VENDOR
      VALUE "OriginalFilename", TROLLEDIT_NAME ".exe"
      VALUE "InternalName",     TROLLEDIT_NAME
      VALUE "ProductName",      TROLLEDIT_LONGNAME
      VALUE "ProductVersion",   TROLLEDIT_VERSION
      VALUE "PrivateBuild",     "Official Build"
    }
  }
  BLOCK "VarFileInfo"
  {
      VALUE "Translation", 0x0409, 0x04B0
  }
}
